
nav {
  position: absolute;
}
video {
    /* margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
      padding-bottom: 50px;
      height: 100%;
    width:100%; */
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.side-nav li a{
  font-size:30px;

}


.overlay {
    background:rgba(28, 209, 241, 0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
  
  
  .overlay h1{
    position: relative;
    font-family: 'Permanent Marker', cursive;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    font-size: 50px;
    font-weight: bold;
    color:#18ffff ;
    text-rendering: optimizeLegibility;
  
  }

  @media only screen and (max-width: 600px){
    .overlay h1{
      text-align: center;
    }

     .content__container__list__item {
      margin-left: 90px;
    }
    /* #aboutPic img {
      margin-bottom: 50px;
    } */
  }

  

 
#aboutSection h4 {
  font-family: 'Nothing You Could Do', cursive;
  
}

#aboutSection {
  padding-bottom: 50px;
}
  

#intro {
  background: turquoise;
  color: black;
  padding: 1.875rem;
  text-align:justify;
  font-family: Arial, Helvetica, sans-serif;
}

  .card{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    font-family: Arial;

    }
   
    
  
  
  .card-image{
   
    opacity: .7;  
  }
  
 
  .card-image:hover {
    opacity: 1;
    filter: alpha(opacity=1); 
  }

  .side-nav li a:hover {
    color: turquoise;
  }
  
#aboutPic img {
    margin-top: 150px;
    border: 5px solid turquoise;
    padding:5px;
    transform: rotate(90deg);
  
    /* margin-bottom: 10px; */
}


p{
  
  font-size:13px;
}



nav li a {
  margin-top:10px;
  font-size: 20px;

  font-weight: bold;
}

.parallax-container{
  height:700px;
}

body, .page-footer, .footer-copyright p, #portfolio {
background: #212121;
color:  turquoise;
font-family: 'Nothing You Could Do', cursive;
}


.content__container__list__item {
font-size:20px;
}

.page-footer, .footer-copyright p {
  font-family: Arial, Helvetica, sans-serif;
}


form {
  background-color: white;
  border: turquoise 3px solid;
}

#first_name, #email,#textarea1 {
  font-weight: bold; 
  font-size: 30px;

}

#label, #send {
font-size: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#socialBar img {
  height: 50px;
  width: 50px;
}



